.ultimoVideoTipLeft {
  width:70% !important;
	margin-right: 0 !important;
	padding-right: 0 !important;
}

.ultimoVideoTip {
    width: 70% !important;
}

.revo-slider-emphasis-text {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -1px;
    font-family: 'Raleway', sans-serif;
    padding: 15px 20px;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
  }

  .revo-slider-desc-text {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    width: 650px;
    text-align: center;
    line-height: 1.5;
  }

  .revo-slider-caps-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
  }
  .tp-video-play-button { display: none !important; }

  .tp-caption { white-space: nowrap; }


  .portfolio-desc {
    height:100px !important;
  }

  .portfolio-image {
    border:1px solid #e7e7e7;
  }

  .owl-carousel {
    margin-top:50px;
  }

  .DivComoFuncionaenLinea {

    width:100%; height: 90px; margin-top:30px; margin-left:12.5%;
  }

  .comoFuncionaenLinea {
    text-align: center;
  }

  .comoFuncionaenLinea h2 {
    margin:0; padding: 0; line-height: 5px;
  }

  .comoFuncionaenLinea h2 i {
    color:#7eb31f;
    padding-right: 5px;
  }

  .comoFuncionaenLinea h2 p
  {

    margin:0 0 0 10px; padding: 0; line-height: 30px; text-align: center; font-size: 14px;

  }
